APP_TIMEZONE="America/Sao_Paulo"

DB_HOST="localhost"
DB_PORT=3306
DB_NAME="service_orders"
DB_CHARSET="utf8mb4"
DB_USERNAME="root"
DB_PASSWORD=""
DB_TIMEZONE="-03:00"

MAIL_HOST="127.0.0.1"
MAIL_PORT=1025
MAIL_FROM_ADDRESS="no-reply@service-orders.com"
MAIL_FROM_NAME="Service Orders"